:root{
    --primary-color: rgb(22, 22, 73);
    --secondary-color: rgb(245, 160, 0);
    --bg-color: rgb(0, 0, 0);
    /* --bg-color: rgb(117, 117, 117); */
    --text-color: rgb(255, 255, 255);
}